<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="build/images/logo-login-white.png" />
    <title>The Warrior Baber Shop</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{!
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script> }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f6414e1f4b.js" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="./build/css/estilos.css" rel="stylesheet" />
    <link href="./build/css/agenda.css" rel="stylesheet" />

  </head>

  <body>
    {{>header}}
    <main class="content">

      <div>
        <h1 class="d-flex justify-content-center tit">Agenda</h1>
      </div>
      <div class="contCalAgen">
        <iframe src="cal" frameborder="0"></iframe>
        {{!-- <iframe src="age" frameborder="0"></iframe> --}}
        <table class="table table-striped table-hover" id="tablaUsuarios">
          <thead>
            <tr>
              <th>Horario</th>
              <th>Braulio</th>
              <th>Juan</th>
              <th>Luis</th>
              <th>Alvaro</th>
              <th>Mauricio</th>
            </tr>
          </thead>
          <tbody id="tablaRoles">
            <tr>
              <td>8:00 am</td>
            </tr>
            <tr>
              <td>8:30 am</td>
            </tr>
            <tr>
              <td>9:00 am</td>
            </tr>
            <tr>
              <td>9:30 am</td>
            </tr>
            <tr>
              <td>10:00 am</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="contBtnAgg">
        <a class="btnsConfi" id="btnAgg"><i class="fa fa-plus"></i></a>
      </div>
      <table class="table table-striped table-hover" id="tablaUsuarios">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Barbero</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Tipo de servicio</th>
            <th>Descripción</th>
            <th>Comisión</th>
            <th>Precio</th>
            <th>Precio total</th>
            <th id="actInfo">Estado del servicio</th>
          </tr>
        </thead>
        <tbody id="tablaRoles">
          <tr>
            <td>Juan</td>
            <td>Luis</td>
            <td>01/09/2023</td>
            <td>12:00 pm</td>
            <td>Corte cabello</td>
            <td>Sin comentarios</td>
            <td>40%</td>
            <td>$ 15.000</td>
            <td>$ 15.000</td>
            <td><button type="button" class="btn btnActivo" id="">Activo</button></td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Martín</td>
            <td>01/09/2023</td>
            <td>12:00 pm</td>
            <td>Corte cabello</td>
            <td>Sin comentarios</td>
            <td>40%</td>
            <td>$ 15.000</td>
            <td>$ 15.000</td>
            <td><button type="button" class="btn btnInactivo" id="">Cancelado</button></td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Martín</td>
            <td>01/09/2023</td>
            <td>12:00 pm</td>
            <td>Corte cabello</td>
            <td>Sin comentarios</td>
            <td>40%</td>
            <td>$ 15.000</td>
            <td>$ 15.000</td>
            <td><button type="button" class="btn btnFinalizado" id="">Finalizado</button></td>
          </tr>
        </tbody>
      </table>
    </main>
    {{>footer}}
    <script src="./build/js/funciones.js"></script>
  </body>

</html>