<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="build/images/logo-login-white.png" />
    <title>The Warrior Baber Shop</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{!
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script> }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f6414e1f4b.js" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="./build/css/estilos.css" rel="stylesheet" />
    <link href="./build/css/gastOpe.css" rel="stylesheet" />

  </head>

  <body>
    {{>header}}
    <main class="content">
      <div>
        <h1 class="d-flex justify-content-center tit">Gastos operativos mensuales</h1>
      </div>
      <div class="contBtnAgg">
        <a class="btnsConfi" id="btnAgg"><i class="fa fa-plus"></i></a>
      </div>
      <table class="table table-striped table-hover" id="tablaUsuarios">
        <thead>
          <tr>
            <th>Tipo de gasto</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Valor</th>
            <th id="actInfo">Actualizar información</th>
          </tr>
        </thead>
        <tbody id="tablaRoles">
          <tr>
            <td>Servicios</td>
            <td>Sin Descripción</td>
            <td>01/09/2023</td>
            <td>12:00 pm</td>
            <td>$ 500.000</td>
            <td><a class="btnAct" id="btnMod"><i class="fa fa-user-pen"></i></a></td>
          </tr>
          <tr>
            <td>Arriendo</td>
            <td>Sin Descripción</td>
            <td>01/09/2023</td>
            <td>12:00 pm</td>
            <td>$ 1'500.000</td>
            <td><a class="btnAct" id="btnMod"><i class="fa fa-user-pen"></i></a></td>
          </tr>
          <tr>
            <td>Insumos</td>
            <td>Sin Descripción</td>
            <td>10/09/2023</td>
            <td>01:00 pm</td>
            <td>$ 800.000</td>
            <td><a class="btnAct" id="btnMod"><i class="fa fa-user-pen"></i></a></td>
          </tr>
        </tbody>
      </table>
    <div id="fondo">
      <div id="formulario">
        <div class="container">
          <h3 class="center">Registro de gasto operativo</h3>
          <div class="d-flex justify-content-center contForm">
            <i class="fa-solid fa-file-invoice-dollar iconForm"></i>
            <div class="input-field inpForm">
              <input type="text" id="tipoGasto" class="form1" data-length="20" />
              <label for="tipoGasto" id="tipoGastoL">Tipo de gasto operativo</label>
            </div>
            <i class="fa-solid fa-file-pen iconForm"></i>
            <div class="input-field inpForm">
              <input type="text" id="descGast" class="form1" data-length="150" />
              <label for="descGast" id="descGastL">Descripción</label>
            </div>
          </div>
          <div class="d-flex justify-content-center contForm">
            <i class="fa-solid fa-calendar-day iconForm"></i>
            <div class="input-field inpForm">
              <input type="date" id="Fecha" class="form1" data-length="12" />
              <label for="Fecha" id="fechaL">Fecha</label>
            </div>
            <i class="fa-solid fa-clock iconForm"></i>
            <div class="input-field inpForm">
              <input type="time" id="Hora" class="form1" data-length="25" />
              <label for="Hora" id="horaL">Hora</label>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <i class="fa-solid fa-dollar-sign iconForm"></i>
            <div class="input-field inpForm">
              <input type="number" id="Valor" class="form1" data-length="15" oninput="validarCelu('numCel')" />
              <label for="Valor" id="valorL">Valor</label>
            </div>
          </div>
          <div class="center">
            <button id="aggUsu" type="button" class="waves-effect waves-perso btn black">Registrar</button>
            <button id="canUsu" type="button" class="waves-effect waves-perso btn black">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <div id="fondo2">
      <div id="formulario2">
        <div class="container">
          <h3 class="center">Actualizar información de gasto operativo</h3>
          <div class="d-flex justify-content-center contForm">
            <i class="fa-solid fa-file-invoice-dollar iconForm"></i>
            <div class="input-field inpForm">
              <input type="text" id="tipoGasto2" class="form1" data-length="20" />
              <label for="tipoGasto2" id="tipoGastoL">Tipo de gasto operativo</label>
            </div>
            <i class="fa-solid fa-file-pen iconForm"></i>
            <div class="input-field inpForm">
              <input type="text" id="descGast2" class="form1" data-length="150" />
              <label for="descGast2" id="descGastL">Descripción</label>
            </div>
          </div>
          <div class="d-flex justify-content-center contForm">
            <i class="fa-solid fa-calendar-day iconForm"></i>
            <div class="input-field inpForm">
              <input type="date" id="Fecha2" class="form1" data-length="12" />
              <label for="Fecha2" id="fechaL">Fecha</label>
            </div>
            <i class="fa-solid fa-clock iconForm"></i>
            <div class="input-field inpForm">
              <input type="time" id="Hora2" class="form1" data-length="25" />
              <label for="Hora2" id="horaL">Hora</label>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <i class="fa-solid fa-dollar-sign iconForm"></i>
            <div class="input-field inpForm">
              <input type="number" id="Valor2" class="form1" data-length="15" oninput="validarCelu('numCel')" />
              <label for="Valor2" id="valorL">Valor</label>
            </div>
          </div>
          <div class="center">
            <button id="actGast" type="button" class="waves-effect waves-perso btn black">Actualizar</button>
            <button id="canGast" type="button" class="waves-effect waves-perso btn black">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    </main>
    {{>footer}}
    <script src="./build/js/funciones.js"></script>
    <script src="./build/js/gastOpe.js"></script>
  </body>

</html>