<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="build/images/logo-login-white.png" />
    <title>The Warrior Baber Shop</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{!
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script> }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f6414e1f4b.js" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="./build/css/estilos.css" rel="stylesheet" />
    <link href="./build/css/gestionVentas.css" rel="stylesheet" />

  </head>

  <body>
  {{>header}}
    <main class="content">
    <div>
      <h1 class="d-flex justify-content-center tit">Pagos realizados por los clientes</h1>
    </div>
      <table class="table table-striped table-hover" id="tablaUsuarios">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Tipo de servicio</th>
            <th>Forma de pago</th>
            <th>Pago</th>
          </tr>
        </thead>
        <tbody id="tablaRoles">
          <tr>
            <td>LuisGM</td>
            <td>Corte de cabello</td>
            <td>Nequi</td>
            <td>$ 15.000</td>
          </tr>
          <tr>
            <td>MartinPO</td>
            <td>Corte de barba</td>
            <td>Transferencia bancaria</td>
            <td>$ 20.000</td>
          </tr>
          <tr>
            <td>MarcosEJ</td>
            <td>Diseño de cejas</td>
            <td>Efectivo</td>
            <td>$ 15.000</td>
          </tr>
        </tbody>
      </table>
    <div>
      <h1 class="d-flex justify-content-center tit">Reporte de servicios atendidos</h1>
    </div>
      <table class="table table-striped table-hover" id="tablaUsuarios">
        <thead>
          <tr>
            <th>Usuario del cliente</th>
            <th>Usuario del barbero</th>
            <th>Tipo de servicio</th>
            <th>Pago</th>
          </tr>
        </thead>
        <tbody id="tablaRoles">
          <tr>
            <td>LuisGM</td>
            <td>Barbero 1</td>
            <td>Corte de cabello</td>
            <td>$ 15.000</td>
          </tr>
          <tr>
            <td>MartinPO</td>
            <td>Barbero 2</td>
            <td>Corte de barba</td>
            <td>$ 20.000</td>
          </tr>
          <tr>
            <td>MarcosEJ</td>
            <td>Barbero 3</td>
            <td>Diseño de cejas</td>
            <td>$ 15.000</td>
          </tr>
        </tbody>
      </table>
    </main>
  {{>footer}}
    <script src="./build/js/funciones.js"></script>
  </body>

</html>