<footer class="centFoot">
  <div class="contFoot">
    <div class="d-flex divFoot">
      <i class="fa fa-whatsapp wppft"></i>
      <p>(318) 517-3515</p>
    </div>
    <div class="d-flex divFoot">
      <i class="fa fa-whatsapp wppft"></i>
      <p>(311) 647-6567</p>
    </div>
    <div class="d-flex divFoot">
      <i class="fa fa-whatsapp wppft"></i>
      <p>(304) 279-8603</p>
    </div>
    <div class="d-flex divFoot">
      <i class="fa fa-whatsapp wppft"></i>
      <p>(324) 577-3153</p>
    </div>
  </div>
</footer>